<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<rewrite>
			<rules>
				<rule name="Redirect old-domain to new-domain" stopProcessing="true">
					<match url=".*" />
					<conditions>
						<add input="{HTTP_HOST}" pattern="^beta.waymaker.com.co$" negate="true" />
					</conditions>
					<action type="Redirect" url="https://waymaker.com.co/beta/" redirectType="Permanent" />
				</rule>
				<!--<rule name="Redirect to charlas.q10.com" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^charlas.q10.com" negate="true" />
            <add input="{REQUEST_METHOD}" matchType="Pattern" pattern="POST" ignoreCase="true" negate="true" />
          </conditions>
          <action type="Redirect" url="https://charlas.q10.com/Q10/Registro/Charlas{R:0}" redirectType="Permanent" />
        </rule>-->
			</rules>
		</rewrite>
	</system.webServer>
</configuration>
